/* Global Section */

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

/* Header Section */

h1 {
    margin: 0;
    font-size: 2.5em;
    font-weight: 700;
  }

img {
    margin-left: -30px;
    margin-right:-50px;
}

.header {
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    width: 100%;
}

.titleLogoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: column;
}

.navigation {
    padding-right: 35px;
    display: flex;
}

.navigation ul li {
    padding: 5px;
    font-weight: 300;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    font-weight: 700;
}

/* About Section */

.about {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}

.bioContainer {
    display: flex;
    flex-direction: column;
}

.about p {
    font-size: 30px;
    font-weight: 300;
}

.bioEmailLink:hover {
    font-style: italic;
}


.empty {
   flex-basis: 20vw;
}

/* Contact Section */

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.contact a {
    text-decoration: none;
    font-size: 2.5em;
    color: white;
    font-weight: 300;
}

/* Mobile Styling */

@media only screen and (max-width: 768px) {


    html, body {
        overflow-x: hidden;
        align-items: center;
    }

    .titleLogoContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .header {
        height: 100vh; 
        position: static;
    }

    .navigation{
        display: none;
    }

    /* .contact {
        display: none;
    } */

    .bioEmailLink {
        text-decoration: underline;
    }

    .bioEmailLink:hover {
        font-style: normal;
    }
    
    .contact {
        transform: rotate(90deg);
    }

    .contact a {
        font-size: 2em;
    }
    
}